{% include 'publicheader.html' %}

<div class="banner">
	<div class="container">
		<center>
	<h1>Login</h1>
	<form method="post">
		<table class="table" style="width: 600px; color: #fff;">
			<tr>
				<td>Username</td>
				<td><input type="text" class="form-control" required name="username"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" class="form-control" required name="password"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" class="btn btn-success" name="submit" value="LOGIN"></td>
			</tr>
		</table>
	</form>
</center>
<br><br><br>
	</div>
</div>



{% include 'footer.html' %}