{% include 'publicheader.html' %}

<!--- banner ---->
<div class="banner">
	<div class="container">
		<br><br><br><br>
			<h2 style="color: #fff;font-size: 40px;">Manage Buses</h2><br>
				<form method="post">
					<table class="table" style="color: #fff;width: 500px;">
						<tr>
							<td>bus name</td>
							<td><input type="text" class="form-control" name="bus_name"></td>
						</tr>
						<tr>
							<td>registration number</td>
							<td><input type="text" class="form-control" name="registration_number"></td>
						</tr>
						<tr>
							<td>licence number</td>
							<td><input type="text" class="form-control" name="lnumber"></td>
						</tr>
						<tr>
							<td>numberf seat</td>
							<td><input type="text" class="form-control" name="nos"></td>
						</tr>
						<tr>
							<td>first name</td>
							<td><input type="text" class="form-control" name="fname"></td>
						</tr>
						<tr>
							<td>last name</td>
							<td><input type="text" class="form-control" name="lname"></td>
						</tr>
						<tr>
							<td>age</td>
							<td><input type="text" class="form-control" name="age"></td>
						</tr>
						<tr>
							<td>phone</td>
							<td><input type="text" class="form-control" name="phone"></td>
						</tr>

						<tr>
							<td>username</td>
							<td><input type="text" class="form-control" name="uname"></td>
						</tr>
						<tr>
							<td>password</td>
							<td><input type="text" class="form-control" name="passs"></td>
						</tr>


						<tr>
							<td colspan="2" align="center"><input type="submit" class="btn btn-success" name="submit" value="submit"></td>
						</tr>
					</table>
				</form>
	</div>
</div>

<center>


</center>
{% include 'footer.html' %}
